<form [formGroup]="earZoneForm" (ngSubmit)="submit();">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter name of Ear Region" formControlName="name" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Alias</mat-label>
                        <input matInput placeholder="Enter description" formControlName="alias">
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="!earZoneForm.valid" (click)="submit()">Submit</button>
    </mat-dialog-actions>
</form>