.mat-input-element:disabled {
  color: rgba(19, 16, 16, 0.863);
}

.mat-select-disabled .mat-select-value {
  color: rgba(19, 16, 16, 0.863);
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: 0.8;
}

.row {
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}

.column-left {
  float: left;
  width: 60%;
}

.column-right {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
