<form [formGroup]="symptomForm" (ngSubmit)="submit();">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter symptom name" formControlName="name" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Master Points</mat-label>
                        <mat-chip-list #masterPointsChips formControlName="masterPoints">
                            <mat-chip
                                *ngFor="let point of masterPoints"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="removeMasterPoint(point)">
                                {{point.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input
                                #masterPointInput
                                placeholder="Add master point..."
                                [formControl]="masterPointsCtrl"
                                [matAutocomplete]="autoMasterPoints"
                                [matChipInputFor]="masterPointsChips"
                                (matChipInputTokenEnd)="addMasterPoint($event)">
                          </mat-chip-list>
                          <mat-autocomplete #autoMasterPoints="matAutocomplete" (optionSelected)="selectedMasterPoint($event)">
                            <mat-option *ngFor="let point of filteredMasterPoints | async" [value]="point.name">
                                {{point.name}}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize rows="3" formControlName="description" placeholder="Enter description"></textarea>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="!treatmentForm.valid" (click)="submit()">Submit</button>
    </mat-dialog-actions>
</form>