<form [formGroup]="treatmentForm" (ngSubmit)="submit();">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter treatment name" formControlName="name" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Master Points</mat-label>
                        <mat-chip-list #masterPointsChips formControlName="masterPoints">
                            <mat-chip
                                *ngFor="let point of masterPoints"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="removeMasterPoint(point)">
                                {{point.name}}
                                <mat-icon matChipRemove *ngIf="!readOnlyMode">cancel</mat-icon>
                            </mat-chip>
                            <input
                                #masterPointInput
                                [formControl]="masterPointsCtrl"
                                [matAutocomplete]="autoMasterPoints"
                                [matChipInputFor]="masterPointsChips"
                                (matChipInputTokenEnd)="addMasterPoint($event)">
                          </mat-chip-list>
                          <mat-autocomplete #autoMasterPoints="matAutocomplete" (optionSelected)="selectedMasterPoint($event)">
                                <mat-option *ngFor="let point of filteredMasterPoints | async" [value]="point.name">
                                    {{point.name}}
                                </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Primary Points</mat-label>
                        <mat-chip-list #primaryPointsChips formControlName="primaryPoints">
                            <mat-chip
                                *ngFor="let point of primaryPoints"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="removePrimaryPoint(point)">
                                {{point.name}}
                                <mat-icon matChipRemove *ngIf="!readOnlyMode">cancel</mat-icon>
                            </mat-chip>
                            <input
                                #primaryPointInput
                                [formControl]="primaryPointsCtrl"
                                [matAutocomplete]="autoPrimaryPoints"
                                [matChipInputFor]="primaryPointsChips"
                                (matChipInputTokenEnd)="addPrimaryPoint($event)">
                          </mat-chip-list>
                          <mat-autocomplete #autoPrimaryPoints="matAutocomplete" (optionSelected)="selectedPrimaryPoint($event)">
                            <mat-option *ngFor="let point of filteredPrimaryPoints | async" [value]="point.name">
                                {{point.name}}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Supplemental Points</mat-label>
                        <mat-chip-list #supplementalPointsChips formControlName="supplementalPoints">
                            <mat-chip
                                *ngFor="let point of supplementalPoints"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="removeSupplementalPoint(point)">
                                {{point.name}}
                                <mat-icon matChipRemove *ngIf="!readOnlyMode">cancel</mat-icon>
                            </mat-chip>
                            <input
                                #supplementalPointInput
                                [formControl]="supplementalPointsCtrl"
                                [matAutocomplete]="autoSupplementalPoints"
                                [matChipInputFor]="supplementalPointsChips"
                                (matChipInputTokenEnd)="addSupplementalPoint($event)">
                          </mat-chip-list>
                          <mat-autocomplete #autoSupplementalPoints="matAutocomplete" (optionSelected)="selectedSupplementalPoint($event)">
                            <mat-option *ngFor="let point of filteredSupplementalPoints | async" [value]="point.name">
                                {{point.name}}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize rows="3" formControlName="description" placeholder="Enter description"></textarea>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button *ngIf="data.action != 'View'" [disabled]="!treatmentForm.valid" (click)="submit()">Submit</button>
    </mat-dialog-actions>
</form>