<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            Acupoints
        </mat-toolbar>
        <button mat-icon-button color="primary" (click)="openPointDialog(null, 'Add')">
            <mat-icon>post_add</mat-icon> Add New
        </button>
    
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell">Code</th>
                <td mat-cell *matCellDef="let point">
                    <a routerLink="/points/{{point._id}}">{{point.code}}</a>
                </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="headerCell">Name</th>
                <td mat-cell *matCellDef="let point"> {{point.name}} </td>
            </ng-container>
        
            <!-- Part Of Ear Column -->
            <ng-container matColumnDef="partOfEar">
                <th mat-header-cell *matHeaderCellDef class="headerCell">Region of Ear</th>
                <td mat-cell *matCellDef="let point">{{point.partOfEar.name}}</td>
            </ng-container>
        
            <!-- Body Parts Column -->
            <ng-container matColumnDef="bodyParts">
                <th mat-header-cell *matHeaderCellDef class="headerCell">Body Parts</th>
                <td mat-cell *matCellDef="let point"> {{point.bodyParts.join(', ')}} </td>
            </ng-container>
    
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="headerCell">Action</th>
                <td mat-cell *matCellDef="let point" class="action-link">
                    <button mat-icon-button color="primary" title="View" (click)="openPointDialog(point, 'View')">
                        <mat-icon>visibility</mat-icon>
                    </button>                
                    <button mat-icon-button color="primary" title="Edit" (click)="openPointDialog(point, 'Edit')">
                      <mat-icon>edit_note</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" title="Delete" (click)="openDeleteDialog(point)">
                      <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let point; columns: columnsToDisplay;" class="main-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>        
    </mat-card-content>
</mat-card>

<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; height: 50px;">
  <mat-progress-spinner color="primary" mode="indeterminate" value=50></mat-progress-spinner>
</div>