input:disabled {
  color: #3c3c3c;
}

textarea:disabled {
  color: #3c3c3c;
}

mat-card {
  max-width: 600px;
  margin: 2em auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: 0.8;
}

.mat-chip.mat .column {
  float: left;
  width: 50%;
}

.column-left {
  float: left;
  width: 55%;
}

.column-right {
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
