<div class="container">
    <mat-toolbar color="primary">
        Region of Ear
    </mat-toolbar>
    <button mat-icon-button color="primary" (click)="openAddNewDialog()">
        <mat-icon>post_add</mat-icon> Add New
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef width="30%" class="headerCell">Name</th>
          <td mat-cell *matCellDef="let element" style="padding-right: 8px;">
            <div *ngIf="!element.isEdit">
                {{element.name}}
            </div>
            <div *ngIf="element.isEdit">
                <mat-form-field class="full-width" appearance="fill">
                    <input matInput [(ngModel)]="element.name">
                  </mat-form-field>
            </div>
          </td>          
        </ng-container>
      
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef width="50%" class="headerCell">Description</th>
            <td mat-cell *matCellDef="let element" style="padding-right: 8px;">
                <div *ngIf="!element.isEdit">
                    {{element.description}}
                </div>
                <div *ngIf="element.isEdit">
                    <mat-form-field class="full-width" appearance="fill">
                        <input matInput [(ngModel)]="element.description">
                      </mat-form-field>
                </div>
            </td>
        </ng-container>       

        <!-- Action Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef width="20%" class="headerCell">Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <div *ngIf="!element.isEdit">
                    <button mat-icon-button color="primary" title="Edit" (click)="element.isEdit = !element.isEdit">
                        <mat-icon>edit_note</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" title="Delete" (click)="openDeleteDialog(element)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <div *ngIf="element.isEdit">
                    <button mat-icon-button color="primary" title="Save" (click)="update(element); element.isEdit = !element.isEdit;">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" title="Cancel">
                        <mat-icon>undo</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="main-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
</div>

<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; height: 50px;">
  <mat-progress-spinner color="primary" mode="indeterminate" value=50></mat-progress-spinner>
</div>
