<div class="container">
    <mat-toolbar color="primary">
        Treatments
    </mat-toolbar>
    <button mat-icon-button color="primary">
        <mat-icon>post_add</mat-icon> Add New Treatment
    </button>

    <table mat-table [dataSource]="treatments" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="headerCell">Name</th>
            <td mat-cell *matCellDef="let treatment" (click)="expandedTreatment = expandedTreatment === treatment ? null : treatment">{{treatment.name}}</td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef class="headerCell">Description</th>
            <td mat-cell *matCellDef="let treatment" (click)="expandedTreatment = expandedTreatment === treatment ? null : treatment">{{ treatment.description }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="headerCell">Action</th>
            <td mat-cell *matCellDef="let treatment" class="action-link">
                <button mat-icon-button color="primary" title="Edit">
                  <mat-icon>edit_note</mat-icon>
                </button>                 
                <button mat-icon-button color="warn" title="Delete">
                  <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let treatment" [attr.colspan]="columnsToDisplay.length">
                <div class="content-detail" [@detailExpand]="treatment == expandedTreatment ? 'expanded' : 'collapsed'">
                    <div class="headerCell">Points: </div>
                    <div class="content-description">
                        {{treatment.points[0].point}}
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let treatment; columns: columnsToDisplay;" class="main-row" [class.expanded-row]="expandedTreatment === treatment"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>