<div class="centered">
    <h1 class="title">Create a new point</h1>
    <input #nameInput type="text" placeholder="Enter point name"> <br>
    <input #codeInput type="text" placeholder="Enter point code"> <br>
    <input #functionInput type="text" placeholder="Enter point function"> <br>
    <input #bodyInput type="text" placeholder="Enter part of ear"> <br>
    <input #earInput type="text" placeholder="Enter body part"> <br>
    <button (click)="addPoint({name: nameInput.value, bodyPart: bodyInput.value, partOfEar: earInput.value, function: functionInput.value, code: codeInput.value})">Add</button>
    <button routerLink='/'>Cancel</button> <br>
</div>